#markersTable
  thead th
    vertical-align: middle
    padding: 5px 30px
    white-space: nowrap

    &.sorting:after,
    &.sorting_asc:after,
    &.sorting_desc:after
      font-size: 13px
      vertical-align: middle
      line-height: 20px
      left: 6px

    .badge
      font-size: 9px
      visibility: hidden

      &.checked
        visibility: visible

    .dropdown-menu
      left: 0

      &.lastCol
        right: 0
        left: inherit

    label
      text-align: left
      margin-left: 15px
      width: 100%

    .btn-group
      margin-left: 5px
      z-index: 9
      position: absolute
      right: 4px

      .btn-group-xs>.btn, .btn-xs
        font-size: 10px

  tr.inactive *
    opacity: 0.6

  .visibleCol
    text-align: center
    vertical-align: middle

  tfoot th input
    width: 100%