#markersPane {
  animation: markersIn 0.3s linear;
  width: 25%;
  margin-top: 50px;
  padding-left: 0;
}
#markersPane.off {
  animation: markersOut 0.3s linear;
  width: 85px;
}
#markersPane.off .glyphicon-menu-left {
  animation: rotateIn 0.3s linear;
  transform: scale(1) rotate(180deg);
}
#markersPane.off .title-text {
  display: none;
}
#markersPane .glyphicon-menu-left {
  animation: rotateOut 0.3s linear;
  transform: scale(1) rotate(0deg);
}
#markersPane #markersList {
  padding: 0;
}
#markersPane #markersList.collapsing {
  width: 0;
}
#markersPane #markersList .glyphicon-screenshot {
  display: none;
}
#markersPane #markersList .active .glyphicon-screenshot {
  display: inline;
  margin-left: -10px;
}
#markersPane #markersList a.list-group-item {
  padding-left: 23px;
}
#markersPane #markersList a.list-group-item.active {
  padding-left: 15px;
}
#markersPane #markersList a.list-group-item.inactive {
  opacity: 0.6;
}
#markersPane #markersList a .toggleVisibility:hover {
  background-color: #ccc;
  color: #fff;
}
@-moz-keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@-webkit-keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@-o-keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@-moz-keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@-o-keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@-moz-keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@-webkit-keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@-o-keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@-moz-keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
@-webkit-keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
@-o-keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
@keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
