.modal
  text-align: center

  &:before
    display: inline-block
    vertical-align: middle
    content: " "
    height: 100%

  .modal-dialog
    display: inline-block
    text-align: left
    vertical-align: middle

@media (max-width: 768px)
  .modal
    text-align: center;
  &:before
    display: initial
    vertical-align: middle
    content: " "
    height: 100%
  .modal-dialog
    display: block
    text-align: left
    vertical-align: middle
