<div class="btn-group dropdown pull-right" data-column="${title}">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon glyphicon-cog"></span>
    </button>
    <ul class="dropdown-menu form-inline ${lastCol}">
        <li class="dropdown-header">Mark column as:</li>
        <li role="separator" class="divider"></li>
        <li>
            <label class="radio-inline">
                <input type="radio" name="markerLabel" value="${title}" autocomplete="off" ${isMarkerLabel}> Label
            </label>
        </li>
        <li>
            <label class="radio-inline">
                <input type="radio" name="markerLatitude" value="${title}" autocomplete="off" ${isMarkerLatitude}> Latitude
            </label>
        </li>
        <li>
            <label class="radio-inline">
                <input type="radio" name="markerLongitude" value="${title}" autocomplete="off" ${isMarkerLongitude}> Longitude
            </label>
        </li>
    </ul>
</div>
<div class="clearfix pull-left">
    <span class="badge markerLabel ${isMarkerLabel}">Label</span>
    <span class="badge markerLatitude ${isMarkerLatitude}">Lat.</span>
    <span class="badge markerLongitude ${isMarkerLongitude}">Long.</span>
</div>
