<div id="loading" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="text-center">
            <button class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
                </span>
                Loading...
            </button>
        </div>
    </div>
</div>